<div class="container py-5">
  <div class="row">
    <div class="col-md-4">
      <img src="<%= @movie.poster %>" alt="<%= @movie.title %>" class="img-fluid rounded-4 shadow">
    </div>
    <div class="col-md-8">
      <%= render 'movies/partials/movie_details', movie: @movie %>
      <h3 class="text-white mb-3">User Comments</h3>
      <%= render 'movies/partials/comment_form', movie: @movie %>

      <%= render 'movies/partials/movie_actions', movie: @movie %>
    </div>
  </div>
</div>
