<h1 class="text-white mb-4"><%= @movie.title %></h1>
<div class="card bg-dark text-white mb-4">
  <div class="card-body">
    <p><strong>Year:</strong> <%= @movie.year %></p>
    <p><strong>Genre:</strong> <%= @movie.genre %></p>
    <p><strong>Director:</strong> <%= @movie.director %></p>
    <p><strong>Synopsis:</strong> <%= @movie.synopsis %></p>
  </div>
</div>
